In [3]:
import pandas as pd
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

nylink = 'https://drive.google.com/file/d/1IqJMIwwhTk3CCduTs_8ObxauUPmo4-hu' # The shareable link
wslink = 'https://drive.google.com/file/d/1m5andWsEprxMsCx-7MXdAC97XBC9HcMS'
cglink = 'https://drive.google.com/file/d/10EB4Rf2aZgSYceHhAGp6cHX9cGaX5Saq'

downloaded = drive.CreateFile({'id':'1IqJMIwwhTk3CCduTs_8ObxauUPmo4-hu'}) 
downloaded.GetContentFile('new_york_city.csv')  
dfny = pd.read_csv('new_york_city.csv')

downloaded = drive.CreateFile({'id':'1m5andWsEprxMsCx-7MXdAC97XBC9HcMS'}) 
downloaded.GetContentFile('washington.csv')  
dfws = pd.read_csv('washington.csv')

downloaded = drive.CreateFile({'id':'10EB4Rf2aZgSYceHhAGp6cHX9cGaX5Saq'}) 
downloaded.GetContentFile('chicago.csv')  
dfcg = pd.read_csv('chicago.csv')
# Datasets are now stored in a Pandas Dataframe

In [4]:
#drop the unused columns
dfny.drop('Gender', axis=1, inplace=True)
dfny.drop('Birth Year', axis=1, inplace=True)
dfcg.drop('Gender', axis=1, inplace=True)
dfcg.drop('Birth Year', axis=1, inplace=True)

In [5]:
df=dfny.append(dfcg).append(dfws)
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,2017-01-01 00:00:21,2017-01-01 00:11:41,680.000,W 82 St & Central Park West,Central Park West & W 72 St,Subscriber
1,2017-01-01 00:00:45,2017-01-01 00:22:08,1282.000,Cooper Square & E 7 St,Broadway & W 32 St,Subscriber
2,2017-01-01 00:00:57,2017-01-01 00:11:46,648.000,5 Ave & E 78 St,3 Ave & E 71 St,Customer
3,2017-01-01 00:01:10,2017-01-01 00:11:42,631.000,5 Ave & E 78 St,3 Ave & E 71 St,Customer
4,2017-01-01 00:01:25,2017-01-01 00:11:47,621.000,5 Ave & E 78 St,3 Ave & E 71 St,Customer
...,...,...,...,...,...,...
1751447,2017-06-30 12:59:39,2017-06-30 01:13:07,808.195,18th & M St NW,15th & W St NW,Subscriber
1751448,2017-06-30 12:59:46,2017-06-30 01:05:20,334.003,12th & Army Navy Dr,23rd & Crystal Dr,Customer
1751449,2017-06-30 12:59:48,2017-06-30 01:17:06,1037.764,Jefferson Memorial,C & O Canal & Wisconsin Ave NW,Customer
1751450,2017-06-30 12:59:57,2017-06-30 01:10:54,657.231,C & O Canal & Wisconsin Ave NW,18th St & Pennsylvania Ave NW,Subscriber
1751451,2017-06-30 12:59:59,2017-06-30 01:43:26,2606.951,Friendship Hts Metro/Wisconsin Ave & Wisconsin...,Kennedy Center,Customer

In [6]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

df['mostpopmth'] = pd.to_datetime(df['Start Time']).dt.month
#print("What is the most popular month for start time? ",df['mostpopmth'].mode())

df['mostpopdoy'] = pd.to_datetime(df['Start Time']).dt.day_of_week
#print("What is the most popular day of week (Monday, Tuesday, etc.) for start time? ",df['mostpopdoy'].mode())

df['mostpophod'] = pd.to_datetime(df['Start Time']).dt.hour
#print("What is the most popular hour of day for start time?",df['mostpophod'].mode())

df['mostpoptrip'] = df['Start Station']+df['End Station']

df.mode(axis=0)

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,mostpopmth,mostpopdoy,mostpophod,mostpoptrip
0,2017-03-25 15:28:00,2017-03-27 18:19:00,365.0,Pershing Square North,Pershing Square North,Subscriber,6,2,17,Lake Shore Dr & Monroe StStreeter Dr & Grand Ave

In [10]:
dfttd = df['Trip Duration'].sum()
dfatd = df['Trip Duration'].mean()
print("What is the total trip duration and average trip duration?", round(dfttd, 0), " ", round(dfatd,0))

print("What are the counts of each user type? \n")
print(df['User Type'].value_counts())

What is the total trip duration and average trip duration? 10213563095.0   1009.0
What are the counts of each user type?

Subscriber    8639691
Customer      1463607
Dependent           4
Name: User Type, dtype: int64